<footer class="bg-dark text-light py-3 mt-auto">
    <div class="container text-center">
        <p class="mb-2">Desenvolvido por:</p>
        <p class="mb-1">
            Felipe Silva Mantuani, Eduardo Ribeiro, Henrique Costa e Miguel Cores
        </p>
        <p class="mb-3">2° INFO</p>
        <a href="https://jcr.ifsp.edu.br/index.php/jogos-dos-institutos-federais-jif" target="_blank" class="text-light" aria-label="Site Oficial do Instituto Federal">
            <i class="bi bi-box-arrow-up-right" style="font-size: 1.5rem;"></i>
        </a>
    </div>
</footer>
</body>
</html>