<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Página Não Encontrada - Erro 404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        body, html {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #f8f9fa;
            margin: 0;
        }
        .error-container {
            text-align: center;
            color: #343a40;
            padding: 20px;
        }
        .error-code {
            font-size: 10rem;
            font-weight: 700;
            color: #dc3545;
        }
        .error-message {
            font-size: 1.5rem;
            margin-top: -20px;
            color: #6c757d;
        }
    </style>
</head>
<body>

    <div class="error-container">
        <h1 class="error-code">404</h1>
        <p class="error-message">Página Não Encontrada</p>
        <p>A página que você está procurando pode ter sido movida ou não existe mais.</p>
        <a href="/" class="btn btn-primary mt-3">Voltar para a Página Inicial</a>
    </div>

</body>
</html>
