<%- include('../partials/header') %>

<div class="content">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="listaCadastros text-center p-4 bg-light border rounded shadow-sm">
            <h3 class="mb-4">Cadastrar</h3>
            <ul class="list-unstyled">
                <li class="mb-3">
                    <a href="/atleta/cadastro" class="btn btn-dark w-100">Cadastrar Atleta</a>
                </li>
                <li class="mb-3">
                    <a href="/comissao/cadastro" class="btn btn-dark w-100">Cadastrar Comissão Técnica</a>
                </li>
                <li class="mb-3">
                    <a href="/coordenacao/cadastro" class="btn btn-dark w-100">Cadastrar Coordenação</a>
                </li>
                <li class="mb-3">
                    <a href="/campus/cadastro" class="btn btn-dark w-100">Cadastrar Campus</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
