<%- include('../partials/header') %>

<div class="content">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="listaCadastros text-center p-4 bg-light border rounded shadow-sm">
            <h3 class="mb-4">Consultar</h3>
            <ul class="list-unstyled">
                <li class="mb-3">
                    <a href="/atleta/consulta" class="btn btn-dark w-100">Consultar Atletas</a>
                </li>
                <li class="mb-3">
                    <a href="/comissao/consulta" class="btn btn-dark w-100">Consultar Comissão Técnica</a>
                </li>
                <li class="mb-3">
                    <a href="/coordenacao/consulta" class="btn btn-dark w-100">Consultar Coordenação</a>
                </li>
                <li class="mb-3">
                    <a href="/campus/consulta" class="btn btn-dark w-100">Consultar Campus</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>