<%- include('../partials/header') %>

    <div class="content">
        <div class="container">
            <h3>Cadastrar Coordenação</h3>
            <form action="/coordenacao/cadastro" method="post">
                <div class="form-group forms">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" id="nome" name="nome">

                    <label for="dataNascimento">Data de Nascimento:</label>
                    <input type="date" class="form-control" id="dataNascimento" name="dataNascimento">

                    <label for="documento">Documento(RG/CPF):</label>
                    <input type="text" class="form-control" id="Documento" name="documento">

                    <label for="campus">Campus:</label>
                    <select class="form-control" id="campus" name="campus_id" required>
                        <option value="" disabled selected>Selecione um campus</option>
                        <% campus.forEach(campus => { %>
                            <option value="<%= campus.id %>"><%= campus.nome %></option>
                        <% }); %>
                    </select>                
                    <br>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                </div>
                
            </form>
        </div>
    </div>

<%- include('../partials/footer') %>